# Dependencies
node_modules/
package-lock.json

# Expo
.expo/
.web-build/
.expo-shared/
.expo/packager-info.json
.expo/settings.json

# Build
dist/
build/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
*.iml
.vscode/
*.sublime-workspace

# Environment Variables
.env
.env.local
.env.development
.env.production

# Misc
*.bak
*.swp